<template>
    <div v-if="feedWords" class="feed-words">
    <h2>Feed frequent words</h2>
        <b-table striped hover :items="getFeedWordItems()" :fields="feedWordsfields"></b-table>
    </div>
</template>

<script src="./FrequentWords.js"></script>
