<template>
    <div id="#app">
        <header class="page-header">
            <div class="container text-right">
                <b-button v-if="isLoggedIn()" v-on:click="onLogout" variant="primary">Logout</b-button>
                <div v-else>
                    <router-link to="/user/login">Login</router-link>
                    <router-link to="/user/register">Register</router-link>
                </div>
            </div>
        </header>
        <main class="page-data">
            <router-view></router-view>
        </main>
        <footer class="page-footer">
            <div class="container">
                RSS Feed page
            </div>
        </footer>
    </div>
</template>

<script src="./App.js"></script>
<style src="./App.scss" lang="scss" module></style>
