<template>
    <div>
        <div class="container">
            <div class="login-form">
                <h2>Register</h2>
                <b-form @submit="onRegister">
                    <b-form-group label="Email address:">
                        <div class="alert alert-danger" v-if="getError('email')">{{ getError('email') }}</div>
                        <b-form-input v-model="email" v-on:keyup="validateEmail" type="email" required placeholder="Enter email"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Password:">
                        <b-form-input v-model="password" type="password" required placeholder="Enter password"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Password Confirmation:">
                        <b-form-input v-model="password_confirmation" type="password" required placeholder="Confirm password"></b-form-input>
                    </b-form-group>
                    <div class="alert alert-danger" v-if="getError('password')">{{ getError('password') }}</div>
                    <b-button type="submit" variant="primary">Register</b-button>
                </b-form>
            </div>
        </div>
    </div>
</template>

<script src="./Register.js"></script>
<style src="./Register.scss" lang="scss" module></style>
