<template>
    <div>
        <div class="container">
            <div class="login-form">
                <h2> Login </h2>
                <b-form @submit="onLogin">
                    <b-form-group label="Email address:">
                        <div class="alert alert-warning" v-if="getError('email')">{{ getError('email') }}</div>
                        <b-form-input v-model="email" type="email" required placeholder="Enter email"></b-form-input>
                    </b-form-group>
                    <b-form-group label="Password:">
                        <b-form-input v-model="password" type="password" required placeholder="Enter password"></b-form-input>
                    </b-form-group>
                    <div class="alert alert-danger" v-if="getError('login')">{{ getError('login') }}</div>
                    <b-button type="submit" variant="primary">Login</b-button>
                </b-form>
            </div>
        </div>
    </div>
</template>

<script src="./Login.js"></script>
<style src="./Login.scss" lang="scss" module></style>
