<template>
    <div v-if="feedEntries" class="feed-entries">
        <h2>Entries</h2>
        <b-table striped hover :items="getFeedEntries()" :fields="feedEntriesfields">
            <template v-slot:cell(title)="data">
                <a :href="data.item[data.field.hrefKey]">{{ data.value }}</a>
            </template>
            <template v-slot:cell(author_name)="data">
                <a :href="data.item[data.field.hrefKey]">{{ data.value }}</a>
            </template>
        </b-table>
    </div>
</template>

<script src="./EntriesTable.js"></script>
