<template>
    <div class="feed-selector">
        <h2>Feed selector & updates</h2>
        <div class="feed-selector" v-if="feedList">
            <b-form-select :disabled="disableActions" v-model="selectedFeedId" :options="getFeedOptions()"></b-form-select>
            <div v-if="selectedFeed">
                <div class="row">
                    <div class="col-sm-8">
                        <div v-if="getSelectedFeedErrors()" class="alert alert-danger" role="alert">{{ getSelectedFeedErrors() }}</div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <div v-if="disableActions" class="alert alert-info" role="alert">Feed updating - please wait....</div>
                        <b-button v-else pill variant="info" v-on:click="updateFeed">Reload feed</b-button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="selectedFeed" class="feed-info">
            <div>
                <span class="font-weight-bold">Feed Link:</span>
                <a :href="selectedFeed.feed_link">{{ selectedFeed.feed_link }}</a>
            </div>
            <div>
                <span class="font-weight-bold">Title</span>
                <a :href="selectedFeed.article_link">{{ selectedFeed.title }}</a>
            </div>
            <div>
                <span class="font-weight-bold">Author:</span>
                <a :href="selectedFeed.author_link">{{ selectedFeed.author_name }}</a>
            </div>
            <div v-if="selectedFeed.author_email">
                <span class="font-weight-bold">Author email:</span>
                <a v-bind:href="`mailto:${selectedFeed.author_email}`">{{ selectedFeed.author_email }}</a>
            </div>
        </div>
    </div>
</template>

<script src="./FeedSelector.js"></script>
<style src="./FeedSelector.scss"  lang="scss" module></style>
