<template>
    <div>
        <div class="container">
            <rss-feed-selector @change-feed="loadFeed" :feedList="getFeedList()" :selectedFeed="getSelectedFeed()"></rss-feed-selector>
            <rss-feed-frequent-words :feedWords="getFeedWordItems()"></rss-feed-frequent-words>
            <rss-feed-entries-table :feedEntries="getFeedEntries()"></rss-feed-entries-table>
        </div>
    </div>
</template>

<script src="./Home.js"></script>
<style src="./Home.scss" lang="scss" module></style>
